@using MvcStockv2.Models.Entity
@using MvcStock.Controllers
@using MvcStock.Models.ViewModel
@model TransportAndStorageViewModelcs
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("ApplyUpdate", "Transport", FormMethod.Post))
{

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="row">
                    @Html.HiddenFor(m => m.TransferId)
                    <div class="col-md-3">
                        <label for="StorageName">Storage Name:</label>
                        <select name="StorageId" id="StorageId" class="form-control">
                            @foreach (var item in Model.Storages)
                            {
                                if (item.StorageId == Model.Transfer.StorageId)
                                {
                                    <option selected="selected" value="@item.StorageId">@item.StorageName</option>
                                }
                                else
                                {
                                    <option value="@item.StorageId">@item.StorageName</option>
                                }

                            }
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label for="TransportType">Transport Type:</label>
                        <select name="TransportId" id="TransportId" class="form-control newInput">
                            @foreach (var item in Model.Transports)
                            {
                                if (item.TransportId == Model.Transfer.TransportId)
                                {
                                    <option selected="selected" value="@item.TransportId">@item.TransportType</option>
                                }
                                else
                                {
                                    <option value="@item.TransportId">@item.TransportType</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label for="ProductName">Product Name:</label>
                        <select name="ProductId" id="ProductId" class="form-control newInput">
                            @foreach (var item in Model.Products)
                            {
                                if (item.ProductId == Model.Transfer.ProductId)
                                {
                                    <option selected="selected" value="@item.ProductId">@item.ProductName</option>
                                }
                                else
                                {
                                    <option value="@item.ProductId">@item.ProductName</option>
                                }

                            }
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label for="SenderFirmName">Sender Firm Name:</label>
                        <select name="SenderFirmId" id="SenderFirmId" class="form-control newInput">
                            @foreach (var item in Model.Senders)
                            {
                                if (item.SenderFirmId == Model.Transfer.SenderFirmId)
                                {
                                    <option selected="selected" value="@item.SenderFirmId">@item.SenderFirmName</option>
                                }
                                else
                                {
                                    <option value="@item.SenderFirmId">@item.SenderFirmName</option>
                                }


                            }
                        </select>
                    </div>
                </div>
                   

                    <div class="row mtop-20">

                        <div class="col-md-3">
                            <label for="ReceiverFirmName">Receiver Firm Name:</label>
                            <select name="ReceiverFirmId" id="ReceiverFirmId" class="form-control newInput">
                                @foreach (var item in Model.Receivers)
                                {
                                    if (item.ReceiverFirmId == Model.Transfer.ReceiverFirmId)
                                    {
                                        <option selected="selected" value="@item.ReceiverFirmId">@item.ReceiverFirmName</option>
                                    }
                                    else
                                    {
                                        <option value="@item.ReceiverFirmId">@item.ReceiverFirmName</option>
                                    }

                                }
                            </select>
                        </div>

                        <div class="col-md-3">
                            <label for="LoadingDate">Loading Date:</label>
                            @Html.TextBox("LoadingDate", Model.Transfer.LoadingDate, new { @class = "form-control newInput", id = "LoadingDate" })
                        </div>

                        <div class="col-md-3">
                            <label for="TransferPayment">Transfer Payment:</label>
                            @Html.TextBox("TransferPayment", Model.Transfer.TransferPayment, new { @class = "form-control newInput", id = "TransferPayment" })
                        </div>

                    </div>

                

                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" value="Update" class="btn btn-success" style="margin-top: 20px;" />
                    </div>
                </div>
                
            </div>
        </div>
    </div>
          


}



